/* Seletor Universal */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Seletor de Tags */
body {
    font-family:'Times New Roman', Times, serif;
    background-color: #fafae3;
    color: #333;
    margin: 0;
    padding: 30px;
     line-height: 1.6;
}


h1 {
    color: #d2cd2d;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}


nav {
    text-align: center;
    margin-bottom: 30px;
}


nav a {
    color: #d2cd2d;
    text-decoration: none;
    margin: 0px 10px;
    font-weight: bold;
}

nav a:hover {
    color:  #d3d324d8;
    text-decoration:solid;
}


h2 {
    color: #d2cd2d;
    text-align:left;
    padding: 0px 30px;
    margin-bottom: 25px;
}


p {
    line-height: 1.6;
    margin-bottom: 16px;
}


header {
    background-color: #fdf8ccea;
    padding: 32px 16px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 32px 16px;
}

footer {
    text-align: center;
    margin-top: 25px;
    color:  #d2cd2d;
    background-color:  #fcf4a8ea;
    padding: 24px 16px;
}

a {
    text-decoration: none;
    color: #b3a700;
}

a:hover {
    color:  #d3d324d8;
    text-decoration:solid;
}

button {
    background-color: #9d9d2a;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover {
    background-color: #7c7621;
}

table {
    width: 80%;
    margin: 30px auto;
    background-color: #fffef0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color:  #fdfaaf;
    color:  #d2cd2d;
    padding: 5px;
    font-size: 18px;
}

td {
    padding: 10px;
}

tr:hover {
    background-color: #eee8a5;
}

label {
    font-family: 'Times New Roman', Times, serif;
}

/* Seletor compartilhado */
h1, th, td {
    color: #d8c900;
}

/* Seletor de classe e um seletor de classe compartilhado também */
.campo,
.opcao {
    width: 100%;
    padding: 10px;
    margin: 6px 0 15px;
    border: 1px solid #e4e4b8;
    border-radius: 6px;
    box-sizing: border-box;
}

.formulario {
    background-color: white;
    max-width: 500px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.caixa {
    background-color: rgb(252, 255, 207);
    width: 70%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 3px 10px #ccc;
}

.foto {
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 4px;
    margin-bottom: 12px;
}

/* Seletor de ID */
#sobre {
    background-color: #ffffc8;
    border-radius: 8px;
    padding: 24px;
}

#pe {
     padding: 24px 0px;
}

#emprestimo {
    background-color: #ffffc8;
    border-radius: 8px;
    padding: 24px;
}

#foto-fachada {
    background-image: url("fachada-biblioteca-entre-marés.png");
}